{% if review.deleted == False %}
    <article>
        <em><a href="{% url 'products:details' review.reviewed_product.id %}">{{ review.text }}</a></em>
        {% if user.is_authenticated and user.username == review.reviewed_product.author.username %}
        <a href="{% url 'reviews:edit' review.id %}">Редактировать отзыв</a>
        {% endif %}
        <br>
        <small> Автор отзыва: <a href="{% url 'users:details' review.author.id %}">{{ review.author }}</a>
        </small>
    </article>
{% endif %}