{% extends 'base.html' %}

{% block content %}
<h1>Страница покупателя c идентификатором - {{user.id}}<h1>
    <p>
        <div>
          <img src="{{user.avatar.url }}" alt={{user.name }} height="100" width="100">
        </div>
    </p>

    <p>
            Покупки:
            {% for product in user.buy_hystory.all %}
        <div>
                <em>{{ forloop.counter }}.</em>
                <em><a href="{% url 'products:detail' product.id %}">{{ product.product_name }}</a></em>
        </div>
            {% endfor %}
    </p>

    <p>
            Отзывы:
            {% for review in user.reviews.all %}
        <div>
                <em>{{ forloop.counter }}.</em>
                <em><a href="{% url 'products:detail' review.reviewed_product.id %}">{{ review.text }}</a></em>
        <div>
            {% endfor %}
    </p>

{% endblock %}

{% block menu %}
{% endblock %}