{% extends 'base.html' %}

{% block content %}
    <h1>Страница продукта</h1>
    {{ product.product_name }}
    <p>
        {% include 'products/product_photos.html' %}
    <h2>{{ product.description }}</h2>
    </p>
    <p>
        <b>Отзывы:</b>
        {% include 'reviews/product_reviews.html' %}
    </p>
    <p>
        <b>Категории:</b>
        {% for category in product.categories.all %}
            <div>
                <em><a href="{% url 'categories:view' category.id %}">{{ category.title }}</a></em>
            </div>
        {% endfor %}
    </p>
{% endblock %}
